*-bak
.spiceinit
 boms/
_*
bom/*
manufactoring/
SparkFun-KiCad-Libraries/Documentation/Example Project/*
svg/*

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses
*.bin
*.par
*.rules

*.zip
gerber/*
*.pdf
!cern_ohl_v_1_2_howto.pdf

# Exported BOM files
*.xml
*.csv
